@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2 class="display-4">Welcome To Film Management System</h2>
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
   <h5> Get Your Choice</h5>
</div>
<center><img src = "~/image/Welcome Page.png"/></center>