body {
    background-image: url("../image/Register Page.png");
    background-color: cadetblue;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
